
/*   MEDIA QUERY   ***********************************************************************************/

@media only screen and (max-width: 1440px) {
.card *, .cat {
    font-size: 0.9em;


}
}

@media only screen and (max-width: 1220px) {
    .card *, .cat{
        font-size: 0.7em;


    }
}

@media only screen and (max-width: 990px) {
    .card * {
        font-size: 0.5em;


    }
}

@media only screen and (max-width: 770px) {
    .card * {
        font-size: 0.3em;


    }
}







@media only screen and (max-width: 1500px) {
    .cat span {
        display: none;


    }
}

@media only screen and (max-width: 1500px) {
    .cat > .cat1{
        width: 40px;


    }
}


/***   END MEDIA QUERY     *********************************************************************************************************/




body {
    background-image: url("images/background.jpg");    /***      BODY IMAGE    *********************************************************************************************************/
    background-size: contain;
}


.logo a {
    font-style: italic;
    font-size: 1.6em;
    color: #ff054b !important;        /*    TOP LOGO TEXT       **********************************************************************************************************/
}

a {
    text-decoration: none !important;
}

.logo img {
    width: 50px;
    height: 50px;                       /****   TOP LOGO IMAGE    *******************************************************************************************************/
    border-radius: 50%;
}

.navbar-brand {
    transition: all .7s;
}

.navbar-brand:hover {
    transform: scale3d(1.3 , 1.2, 1);           /***   NAVBAR LOGO   ********************************************************************************************************/

    cursor: pointer;
}

header .navbar-nav li:hover {
    border-bottom: 3px solid #ff054bad;               /***   NAVBAR LI  BOTTOM-BORDER  *******************************************************************************************************/
}










/*****   SLIDER 1   ******************************************************************************************************/

#haziv {
    margin-top: 133px;
    margin-bottom: 50px;                 /****   1 SLIDER AND CARD DIV  *******************************************************************************************************/
}


#haziv2 {
    width: 24%!important;              /*****  CARD ID   ******************************************************************************************************/
    float: right;
}


/****END SLIDER 1*******************************************************************************************************/


/******TOP ARROW*****************************************************************************************************/

#to-top {
    position: fixed;
    right: 0;
    bottom: 16%;
    z-index: 1;
}

/******   END ARROW   *****************************************************************************************************/




/****  SOCIAL   *******************************************************************************************************/


.social {
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #343a40;               /*****    SOCIAL  FIXED           ******************************************************************************************************/
    top: 250px;

}

.social li {
    list-style-type: none;

}

.social a {
    font-size: 22px;
    color: white;          /********  SOCIAL AS SIZE     ***************************************************************************************************/
}

.social1 {
    padding: 3px;         /*****    SOCIAL UL CLASS      ******************************************************************************************************/
}


.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #343a40;           /*****    SOCIAL UL  LIS       ******************************************************************************************************/
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    transition: all ease 0.3s;
}
.social .fa-facebook:hover {
    background: #4060A5;
    border: 1px solid #4060A5;       /******  FACEBOOK@ IN HOVER   *****************************************************************************************************/
}
.social .fa-twitter:hover {
    background: #00ABE3;
    border: 1px solid #00ABE3;            /****** TWITTER IN HOVER   *****************************************************************************************************/
}
.social .fa-google-plus:hover {
    background: #e64522;
    border: 1px solid #e64522;          /****** G+ IN HOVER   *****************************************************************************************************/
}
.social .fa-github:hover {
    background: #343434;
    border: 1px solid #343434;        /******  GITHUB IN HOVER    *****************************************************************************************************/
}
.social .fa-linkedin:hover {
    background: #0094BC;
    border: 1px solid #0094BC;           /******  LINKDIN IN HOVER    *****************************************************************************************************/
}

.social .fa-skype:hover {
    background: #00C6FF;
    border: 1px solid #00C6FF;          /******  SKYPE IN HOVER   *****************************************************************************************************/
}
.social .fa-stack-exchange:hover {
    background: #4D86C9;
    border: 1px solid #4D86C9;          /******  STACK IN HOVER    *****************************************************************************************************/
}


/*****    END SOCIAL   ******************************************************************************************************/




/******  CATEGORIES     *****************************************************************************************************/



.catt:hover .cat {
    display: block !important;             /******    CATEGORIES DIV  IN HOVER    *****************************************************************************************************/
}


.cat {

    background-color: #343A40;
    position: fixed;
    z-index: 1;                          /******   CATEGORIES DIV     *****************************************************************************************************/
    margin-top: 70px;



}

.cat:hover span {
    display: inline-block !important;          /******  CATEGORIES SPAN@ IN HOVER       *****************************************************************************************************/

}


.none {
    display: none;               /******   .NONE   NONE     *****************************************************************************************************/
}

.cat:hover .none {
    display: block;              /******  .NONE IN HOVER BLOCK      *****************************************************************************************************/
}



.cat2 {

    width: 186px;
    margin-left: 1px;                /******  1 LIS LENGTH    *****************************************************************************************************/
    margin-top: 8px;
    display: none;
}


.cat ul {
    margin-bottom: 0.4rem;           /******    UL MARGIN-BOTTOMS   *****************************************************************************************************/
}

.cat1 a {
    text-decoration: none;
    color: white;
    display:inline-block;            /******  A CATEGORIES     *****************************************************************************************************/
    padding: 5px;
}

.cat3 {
    display: inline;                 /******   2-RD LI    *****************************************************************************************************/
    margin: 0;
    padding: 0;
}

.cat1 {
    padding-left: 0;                /******  UL  PADDING  0    *****************************************************************************************************/
}

.cat2  {
    display: inline-block;            /****** .CAT 2 INLINE BLOCK     *****************************************************************************************************/

}

.cat2 > a {
    text-transform: uppercase;          /******  .CAT 2 A FONT AND SIZE     *****************************************************************************************************/
    width: 187px;
}

.cat2:hover {
    background: #555;                  /******    .CAT 2 IN HOVER BACKGROUND COLOR   *****************************************************************************************************/
}

.cat2:hover .cat3 {
    display: block;                   /******   .CAT 2 IN HOVER .CAT 3 BLOCK    *****************************************************************************************************/
}

.cat3 {
    position: absolute;
    margin-left: 186px;           /******  .CAT3-@   ABSOLUTE   *****************************************************************************************************/
    margin-top: -34px;
    display: none;
}

.cat3 li {
    background: #555;            /******   .CAT 3 LI DISPLAY BLOCK      *****************************************************************************************************/
    display: block;
    text-align: right;
}

.cat3 a {
    display:block !important;                /****** .CAT 3 A DISPLAY BLOCK       *****************************************************************************************************/

}

.cat3 li:hover {
    background: #666;                         /******   .CAT 3   LIS HOVER BACKGROUND       *****************************************************************************************************/
}

.far {
    margin-right: 5px;                              /******   LI ROUNDS   *****************************************************************************************************/
}

.cat2:hover .far {
    background-color:  #ff054b;                     /******  LI ROUNDS HOVER BACKGROUND     *****************************************************************************************************/
    border-radius: 50%;
}

.tesak {
    color: #ff054b;
    font-size: 1.6em;                          /******  ՏԵՍԱԿԱՆԻՆ  COLOR   *****************************************************************************************************/
}



/******   END CATEGORIES       *****************************************************************************************************/





/******  BOTTOM 1 SLIDER@       *****************************************************************************************************/


.container4 .carousel-control-prev {
    left: -1%;
    width: 2%;
    background-color: #000000db;                     /******  LEFT     *****************************************************************************************************/
    bottom: 48px;
}

.container4 .carousel-control-next {
    right: -1%;
    width: 2%;
    background-color: #000000db;                  /******  RIGHT       *****************************************************************************************************/
    bottom: 48px;
}


.container4::before  {
    content:  "20 % նշված տեսականու համար";        /******   TOP TEXT    *****************************************************************************************************/
    height: 300px;
    width: 100%;
    text-transform: uppercase;
    background-color:  #343a40;
    color: #ff054b;
}


/******  END 1 SLIDER     *****************************************************************************************************/




/******  BOTTOM 2 SLIDER@       *****************************************************************************************************/


.container5 .carousel-control-prev {
    left: -1%;
    width: 2%;
    background-color: #000000db;             /******  LEFT    *****************************************************************************************************/
    bottom: 48px;
}

.container5 .carousel-control-next {
    right: -1%;
    width: 2%;
    background-color: #000000db;            /******  RIGHT      *****************************************************************************************************/
    bottom: 48px;
}

.container5::before  {
    content:  "30 % նշված տեսականու համար";               /******  TOP TEXT     *****************************************************************************************************/
    height: 300px;
    width: 100%;
    text-transform: uppercase;
    background-color:  #343a40;
    color: #ff054b;
}

/******  END 2 SLIDER      *****************************************************************************************************/





/******  BOTTOM 3 SLIDER@       *****************************************************************************************************/


.container6 .carousel-control-prev {
    left: -1%;
    width: 2%;
    background-color: #000000db;                 /******   LEFT    *****************************************************************************************************/
    bottom: 48px;
}





.container6 .carousel-control-next {
    right: -1%;
    width: 2%;
    background-color: #000000db;                /******    RIGHT    *****************************************************************************************************/
    bottom: 48px;
}

.container6::before  {
    content:  "50 % նշված տեսականու համար";                /******  TOP TEXT     *****************************************************************************************************/
    height: 300px;
    width: 100%;
    text-transform: uppercase;
    background-color:  #343a40;
    color: #ff054b;
}



/******  END 3 SLIDER     *****************************************************************************************************/



/******  FOOTER    *****************************************************************************************************/



.footer {
    background-color: #343a40;        /******  FOOTER BACKGROUND  *****************************************************************************************************/
    height: 150px;
}



.footer .fab {
    font-size: 29px;
    background-color: #4267b2;            /******  FOOTER FACEBOOK   *****************************************************************************************************/
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5%;
}

#fab .fab {
    font-size: 29px;
    background: linear-gradient(205deg,#3E6AC8,#C934A8,#FC5143,#FFC650);            /******  FOOTER INSTAGRAM   *****************************************************************************************************/
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5%;
}

.logo1 {
    padding: 30px; /****** FOOTER LOGO     *****************************************************************************************************/

}

.logo1 span {
    color: #ff054b;
    font-size: 1.6rem;
}

.logo1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;         /******  LOGO IMAGE    *****************************************************************************************************/
}

.social2 {
    display: flex;
    justify-content: flex-end;           /******  LINKS *****************************************************************************************************/
    list-style-type: none;
}

.social2 a {
    color: white;
}

.social1 a  {
    font-style: italic;
    color: #ff054b !important;
}

.logo1:hover {
    transform: scale3d(1.3 , 1.2, 1);
    transition: all .7s;
    cursor: pointer;
}


/*END FOOTER************************************************************************/



